/* Bootstrap fix
Ref: http://stackoverflow.com/questions/19432787/bootstrap-3-0-0-adding-extra-space-on-row-class
*/
.row {
  margin-left: auto !important;
  margin-right: auto !important;
}

.center{
  text-align: center;
}

.top-banner{
  background: url('../images/abstract-cartoon-cloud-art-backgrounds.jpg') no-repeat;
  background-position: center top;
  background-size: 1280px;
  height: 500px;
  margin-top: -200px;
}

.pull-up{
  margin-top: -75px;
}

.section{
  display:inline-block;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width: 100%;
  min-height: 300px;
  border-bottom: 5px solid #e7e7e7;
}

.section .title{
  font-size: 2em;
  color: #c3d5db;
}

input:focus{
    outline: 0;
}

.q-input{
  margin: 2px;
  margin-left: 30px;
  background: 0;
  border: none;
  font-size: 2em;
  width: 100%;
}

.icon{
  position: absolute;
  padding-top: 10px;
  color: #999;
  font-size: 1.5em;
}

.icon:hover{
  color: #666;
  cursor: pointer;
}

.question{
  margin: 10px;
  padding: 15px;
  padding-bottom: 60px;
  border-bottom: 2px solid #e7e7e7;
}

.question.now{
  background: #ffff99;
}

.question:last-child{
  border: none;
}

.question a:hover, .question a:focus{
  text-decoration: none;
}

.question .title{
  color: #c3d5db;
  font-weight: bold;
  font-size: 1em;
}

.question .title:hover{
  color: #608996;
}

.question .body img{
  width: 100%;
}

.questionFooter{
  float: right;
  padding: 10px;
  width: auto;
}

.questionFooter .interactive{
  background-color: #c3d5db;
  color: #fff;
  border-radius: 0.2em;
  padding: 2px;
  left: 0;
}

.questionFooter .interactive:hover{
  background-color: #608996;
}

.questionFooter .interactive i{
  padding: 4px;
}

.comments .comment{
  border-bottom: 1px solid #e7e7e7;
  padding: 1em;
}

.comment .voting{
  float: right;
  font-size: 2em;
}

.comment .voting a{
    color: #444;
}

.comment .voting .up:hover{
  color: green;
  text-decoration: none;
}

.comment .voting .down:hover{
  color: red;
  text-decoration: none;
}

.comment.level0{
  margin-left: 1em;
  background: #999;
}

.comment.level1{
  margin-left: 3em;
  background: #ccc;
}

.comment.level2{
  margin-left: 5em;
  background: #eee;
}

.left{
  float: left;
}

.right{
  float: right;
}

.time{
  display: inline-block;
  color: #777;
  font-style: italic;
}

.footer{
  background: url('../images/abstract-cartoon-cloud-art-backgrounds.jpg') no-repeat;
  background-position: center bottom;
  background-size: 1280px;
  padding: 5px;
}

.footer a{
  color: #fff;
  margin-right: 10px;
}

.send-button{
  border-left: 2px solid #999;
  height: 85px;
}

.send-button:hover{
  background: #e7e7e7;
}

.send-button .icon{
  padding: 5px;
  font-size: 2em;
}
